extends layout

block content
  div.left
    h1 Rando Corp
    p Welcome to #{title}
    form
      input(type='text' name='firstName' placeholder='First')
      input(type='text' name='lastName' placeholder='Last')
      input(type='text' name='desiredJob' placeholder='Desired Job')
      p I prefer to work remotely:
      input(class='remote' type='radio' name='remote' value='yes')
      label yes
      input(class='remote' type='radio' name='remote' value='no')
      label no
      input(type='text' name='city' placeholder='City')
      input(type='text' name='state' placeholder='State')
      input(type='submit' value='submit')
    p.success

  div.right
    button.admin Admin Access
  script(src='jquery.min.js')
  script(src='/javascripts/scripts.js')