extends layout

block content
  h1 Rando Corp
  h3.admin Admin Access
  p Welcome to #{title}
  form
    input(type='text' name='firstName' placeholder='First')
    input(type='text' name='lastName' placeholder='Last')
    input(type='text' name='desiredJob' placeholder='Desired Job')
    input(class='remote' type='checkbox' name='remote' value='remote')
    p I prefer to work remotely
    input(type='text' name='city' placeholder='City')
    input(type='text' name='state' placeholder='State')
    input(type='submit' value='submit')
  p.success

script(src='/lib/jquery.min.js')
script(src='/javascripts/index.js')