body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

div.left {
  display: inline;
  width: 50%;
  float: left;
}

div.right {
  display: inline;
  width: 50%;
  float: right;
  text-align: right;
}

a {
  color: #00B7FF;
}

input {
  display: block;
  padding: 7px;
  margin: 5px 0;
  width: 180px;
}

p, .remote {
  width: 20px;
  display: inline;
}