body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

input {
  display: block;
  padding: 7px;
  margin: 5px 0;
  width: 180px;
}

p, .remote {
  width: 20px;
  display: inline;
}